Resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: #ffffff;
    color: #000000;
    
}

button {
    background-color: #e2508d;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 10px;
    font-size: larger;
    text-decoration: none;
    width: 400px;
}

button:hover {
    transition: 1s;
    background-color: #ee84b0;
    cursor: pointer;
}

.pink-text {
    color: #e2508d;
}

.white-text {
    color: #ffffff;
}

.pink-text:hover {
    transition: 1s;
    color: #ee84b0;
    cursor: pointer;
    text-decoration: underline;
}

.hide {
    display: none;
}

#project-card {
    width: 600px;
}

#startSection {
    height: 500px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#questionSection, #endSection, #highscores {
    margin-top: 17.5%;
}

li {
    text-align: center;
    list-style-position: inside;
}

nav, header div{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

h1 {
    font-size: 30px;
    padding: 10px;
}

h2 {
    font-size: 25px;
    padding: 10px;
}

p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}